@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

:root {
  --gap: 8px;
  --padding: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: var(--gap);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.messages {
  display: flex;
  flex-direction: column;
  min-height: 437px;
  justify-content: flex-end;
  gap: var(--gap);
  border: 1px solid #000;
  padding: var(--padding);
}

.message {
  background: #e5e5e5;
  padding: var(--padding);
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.message-out {
  align-self: flex-end;
}

.message-in {
  align-self: flex-start;
}

.time {
  color: #333;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  align-self: flex-end;
}

.message-sent {
  background: #f6f6f6;
}

.button__main {
  padding: var(--padding);
  border: 1px solid #000;
  background: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: inherit;
}

textarea {
  border: 1px solid #000;
  resize: vertical;
  flex-grow: 1;
  padding: 6px;
}

.form {
  display: flex;
  gap: var(--gap);
}

.settings__header {
  display: flex;
  justify-content: space-between;
}

#settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}

.settings {
  min-height: 319px;
  display: flex;
  flex-direction: column;
}

.button__close {
  outline: none;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.input {
  border: 1px solid #000;
  padding: var(--padding);
}

.form__modal {
  display: flex;
  gap: 5px;
}
